@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

button {
  transition: 0.3s ease;
}

button:hover {
  cursor: pointer;
}

.page-container {
  padding: 20px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.form div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.form input {
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.5);
  padding: 8px;
}

.form button[type="submit"] {
  margin: 4px auto;
  width: 100%;
  padding: 6px 12px;
  background-color: rgb(32, 32, 32);
  color: white;
  border-radius: 100px;
}

.form button[type="submit"]:hover {
  filter: brightness(200%);
}

.link {
  text-decoration: underline;
  cursor: pointer;
}
.tooltip {
  @apply absolute px-2 py-1 rounded-md bg-gray-900 text-white text-sm shadow-lg
         opacity-0 scale-95 group-hover:opacity-100 group-hover:scale-100
         transition-all duration-200 ease-out whitespace-nowrap pointer-events-none;
}

.tooltip-top {
  @apply bottom-full left-1/2 -translate-x-1/2 mb-3
}

.tooltip-bottom {
  @apply top-full left-1/2 -translate-x-1/2 mt-3
}

.tooltip-right {
  @apply left-full top-1/2 -translate-y-1/2 ml-3
}